*.pyc
__pycache__/

venv/
env/
.venv/

*.egg-info/
pip-log.txt
pip-delete-this-directory.txt

.idea/
.vscode/
*.code-workspace

/.vscode/settings.json
/.vscode/tasks.json
/.vscode/launch.json
/.vscode/extensions.json

*.log
.DS_Store

/data/
/tests/
/models/
/plots/